*{
    margin: 0;
    padding:0;
}


#logo{
    margin: 7px 10px;
}
#logo img{
    height: 59px;
    margin: 3px 6px;
    border-radius: 50px;
}
#navbar{
    /* border:2px solid black; */
    display: flex;
    position: relative;
}
#navbar ul{
    display: flex;
    
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width:100%;
    opacity: 0.4;
    z-index: -1;
}

#navbar ul li{
    list-style: none;
    font-size: 2rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 5px 13px;
    text-decoration: none;
    border-radius: 20px;
    margin: 19px 16px;

}
#navbar ul li a:hover{
    color: black;
    background-color: blanchedalmond;
    border-radius: 20px;
}
#home{
    margin-top: 38px;
}
/* #home{ 
    display: flex;
    flex-direction: column;
    padding: 7px 326px;
    height: 550px;
    justify-content: center;
    align-items: center;
 } */
 /* .services-section{
    width: 100%;
    position: absolute;
    margin: 2px auto;
    left: 38%;
    margin: -22px -7px
} */


#home::before{
    content: "";
    position: absolute;
    background: url(bg.jpg) no-repeat center center/cover;
    height: 352px;
    width: 100%;
    top: 0px;
    opacity: 0.9;
    z-index: -1;
}

#home h1{
    color: white;
    font-size: 3rem;
    padding: 2px 220px;
    margin-bottom: 6px;

}

#home p{
    color: white;
    font-size: 1.7rem;
    padding: 2px 30px
}

/* #services{
    margin: 34px;
    display: flex;
}
 #service-container{
    margin-top: 90px;
    margin-right: 60px;
    display: flex;
} 
.box{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: burlywood;
    margin-bottom: 20px; 
}*/
.btn{
    padding: 2px 50px;
    margin-left: 232px;
}
